<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">

  <a class="navbar-brand" [routerLink]="['/']" active="false">
    Token Monitor</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-content-end"
       id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [routerLink]="['/binance/monitor']"
          [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/binance/monitor']">Binance
          Monitor</a>
      </li>
      <li class="nav-item" [routerLink]="['/binance/live']"
          [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/binance/live']">Binance
          Live</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a target="_blank" class="nav-link btn btn-primary" style="color: white;"
           href="https://maker.crankykernel.com">Trading
          Tool</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="https://twitter.com/crankykernel" target="_blank"
           class="nav-link">Follow <i class="fab fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/intent/tweet?text=Binance%20Monitor%20-%20https://crankykernel.com/binance"
           class="nav-link" target="_blank">Share <i class="fab fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://gitlab.com/crankykernel/cryptoxscanner"
           target="_blank" title="GitLab"
           class="nav-link"><i class="fab fa-gitlab"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" data-toggle="modal"
           data-target="#aboutModal">About</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
           role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <i class="fas fa-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right"
             aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="javascript:void(0);"
             (click)="setTheme('default')">Light</a>
          <a class="dropdown-item" href="javascript:void(0);"
             (click)="setTheme('dark')">Dark (Experimental)</a>
        </div>
      </li>

    </ul>
  </div>

</nav>

<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Issue Tracker</dt>
          <dd><a href="https://gitlab.com/crankykernel/cryptoxscanner/issues"><i
              class="fab fa-gitlab"></i> GitLab</a></dd>
          <dt></dt>
          <dt>Email</dt>
          <dd><a href="mailto:thecrankykernel@gmail.com">thecrankykernel@gmail.com</a>
          </dd>
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/crankykernel"
                 target="_blank">@crankykernel</a></dd>
          <dt>Telegram</dt>
          <dd><a href="https://t.me/crankykernel">@crankykernel</a></dd>

          <dt>Donations</dt>
          <dd>
            LTC: Lf2RrK8zTyvzpUxcrXABtXF94h6tE3Sknz
            <br/>
            ETH: 0xeb0cde70c44d1f9c19761cffcbc8333c43225c00
            <br/>
            DOGE: D9HYSuSvMwKt6S9w75uX1btUMn4hbeKFQh
          </dd>
        </dl>

        <a href="https://www.binance.com/?ref=20697299">Signup for Binance</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
