<div class="container-fluid">

  <div style="position: fixed; top: 2px; left: 25%; width: 50%; z-index: 5000;">
    <div *ngIf="banner.show" [@bannerState]="banner.className"
         class="text-center alert {{banner.className}}">
      {{banner.message}}
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">

          <div class="row">

            <div class="col">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">Base</div>
                </div>
                <select class="form-control" [(ngModel)]="config.base"
                        (change)="render()">
                  <option *ngFor="let coin of baseTokens">{{coin}}</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">Count</div>
                </div>
                <select class="form-control" [(ngModel)]="config.count"
                        (change)="render()">
                  <option>25</option>
                  <option>50</option>
                  <option>100</option>
                  <option value="-1">All</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-search"></i></div>
                </div>
                <input type="text" class="form-control" [(ngModel)]="config.filter">
                <div class="input-group-append">
                  <button class="btn btn-secondary" (click)="config.filter=null">
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-sm btn-block"
                        type="button"
                        id="dropdownSelectColumns" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                  Select Columns
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownSelectColumns"
                     style="width: 100%; max-height: 300px; height: auto; overflow-x: hidden;">
                  <a class="dropdown-item" href="javascript:void(0);"
                     style="width: 100%;"
                     (click)="showDefaultColumns()">Default</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                     style="width: 100%;"
                     (click)="deselectAllColumns()">Select None</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                     style="width: 100%;"
                     (click)="selectAllColumns()">Select All</a>
                  <a *ngFor="let col of columns" class="dropdown-item"
                     href="javascript:void(0)"
                     (click)="config.visibleColumns[col.name] = !config.visibleColumns[col.name]; saveConfig();">
                    <input type="checkbox"
                           [(ngModel)]="config.visibleColumns[col.name]"
                           (click)="saveConfig();">
                    {{col.title}}
                  </a>
                </div>
              </div>
            </div>

            <div class="col d-none d-md-block">
              <button class="btn btn-secondary btn-sm btn-block" type="button"
                      (click)="showMoreFilters = !showMoreFilters">
                More...
              </button>
            </div>
          </div>

        </div>

        <div *ngIf="showMoreFilters" class="card-body">

          <div class="row">

            <div class="col">
              <div class="form-group">
                <label>Min Price</label>
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control"
                         [(ngModel)]="config.minPrice">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="config.minPrice=null">
                      <i class="fa fa-times-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label>Max Price</label>
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control"
                         [(ngModel)]="config.maxPrice">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="config.maxPrice=null">
                      <i class="fa fa-times-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label>Max 24h Change</label>
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control"
                         [(ngModel)]="config.max24Change">
                  <div class="input-group-append">
                    <button class="btn btn-secondary"
                            (click)="config.max24Change=null">
                      <i class="fa fa-times-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label>Min 24h Change</label>
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control"
                         [(ngModel)]="config.min24Change">
                  <div class="input-group-append">
                    <button class="btn btn-secondary"
                            (click)="config.min24Change=null">
                      <i class="fa fa-times-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label>Max RSI(1m)</label>
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control"
                         [(ngModel)]="config.filters.maxRsi60">
                  <div class="input-group-append">
                    <button class="btn btn-secondary"
                            (click)="config.filters.maxRsi60=null">
                      <i class="fa fa-times-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col">
              <div class="form-group">
                <label>Max 24h Vol</label>
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control"
                         [(ngModel)]="config.filters.maxVol24">
                  <div class="input-group-append">
                    <button class="btn btn-secondary"
                            (click)="config.filters.maxVol24=null">
                      <i class="fa fa-times-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label>Min 24h Vol</label>
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control"
                         [(ngModel)]="config.filters.minVol24">
                  <div class="input-group-append">
                    <button class="btn btn-secondary"
                            (click)="config.filters.minVol24=null">
                      <i class="fa fa-times-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- row -->

          <div class="row">
            <div class="col">
              <form (ngSubmit)="updateBlacklist()">
                <div class="form-group">
                  <label>Blacklist</label>
                  <div class="input-group input-group-sm">
                    <input class="form-control"
                           id="blacklistInput"
                           type="text"
                           [formControl]="blacklistForm">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary"
                              (click)="clearBlacklist()"
                              type="button"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                      <button
                          class="btn"
                          type="submit"
                          [ngClass]="{'btn-primary': blacklistForm.value != config.blacklist,
                                    'btn-outline-secondary': blacklistForm.value == config.blacklist}"
                          [disabled]="blacklistForm.value == config.blacklist"
                      >
                        <i class="fas fa-check"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div> <!-- col -->
          </div> <!-- row -->

          <div class="row">
            <div class="col">
              <form (ngSubmit)="updateWhitelist()">
                <div class="form-group">
                  <label>Whitelist</label>
                  <div class="input-group input-group-sm">
                    <input
                        id="whitelistInput"
                        class="form-control" type="text" [formControl]="whitelistForm">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-secondary"
                              (click)="clearWhitelist()"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                      <button
                          type="submit"
                          class="btn"
                          [ngClass]="{'btn-primary': whitelistForm.value != config.whitelist,
                                        'btn-outline-secondary': whitelistForm.value == config.whitelist}"
                          [disabled]="whitelistForm.value == config.whitelist"
                      >
                        <i class="fas fa-check"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div> <!-- col -->
          </div> <!-- row -->

        </div>
      </div>
    </div>
  </div>

  <br/>

  <span class="float-right">Last update: {{idleTime | number:"1.0-0"}} seconds
    ago.</span>

  <div class="table-responsive">
    <div class="table-wrapper">
      <mdz-double-scroll>
        <table class="table table-sm table-bordered table-hover">
          <tr>
            <th app-th-sortable class="header-col" (click)="sortBy('symbol')"
                [name]="'symbol'" [sortBy]="config.sortBy" [sortOrder]="config.sortOrder"
                [ngStyle]="{'background': 'symbol' == config.sortBy ? 'gainsboro' : ''}"
            >Symbol
            </th>
            <th *ngIf="visibleColumns.length == 0" style="border: 0;">&nbsp;</th>
            <th app-th-sortable *ngFor="let header of visibleColumns"
                (click)="sortBy(header.name)"
                [name]="header.name" [sortBy]="config.sortBy"
                [sortOrder]="config.sortOrder"
                [ngStyle]="{'background': header.name == config.sortBy ? 'gainsboro' : ''}"
            >
              {{header.title}}
            </th>
          </tr>
          <tr *ngFor="let ticker of tickers; let i = index; trackBy: trackBy"
              [title]="ticker.symbol.value"
              (mouseenter)="mouseEnter(i);" (mouseleave)="mouseEnter(null)">
            <td class="header-col"
                [ngStyle]="{'background': 'symbol' == config.sortBy ? 'gainsboro' : ''}"
            >
              <input type="checkbox"
                     [(ngModel)]="config.watching[ticker.symbol.value]"
                     (change)="saveConfig();">
              <a
                  [routerLink]="['/binance/symbol', ticker.symbol.value]"
                  target="_blank">{{ticker.symbol.value}}</a>
            </td>
            <td *ngIf="visibleColumns.length == 0" style="border: 0;">&nbsp;</td>
            <td *ngFor="let col of visibleColumns"
                [ngStyle]="{'background': ticker[col.name].background_color}"
            >
              <span [ngSwitch]="col.type"
                    [ngClass]="{'up': col.updown && ticker[col.name].value > 0,
                            'down': col.updown && ticker[col.name].value < 0}">
                <span *ngSwitchCase="'percent'"
                      [ngClass]="{'up': ticker[col.name].value > 0,
                  'down': ticker[col.name].value < 0}">
                  {{ticker[col.name].value | percent:col.format }}
                </span>
                <span *ngSwitchCase="'percent-number'"
                      [ngClass]="{'up': ticker[col.name] > 0,
                  'down': ticker[col.name] < 0}">
                  {{ticker[col.name].value | number:".2-2" }}
                </span>
                <span *ngSwitchCase="'number'">
                  {{ticker[col.name].value | number:col.format }}
                </span>
                <span *ngSwitchDefault>
                  <a *ngIf="col.routerLink"
                     [routerLink]="[col.routerLink, ticker[col.name]]">{{ticker[col.name].value}}</a>
                  <span *ngIf="!col.routerLink">{{ticker[col.name].value}}</span>
                </span>
              </span>
            </td>
          </tr>
        </table>
      </mdz-double-scroll>
    </div>
  </div>
</div>
