<div style="position: fixed; top: 2px; left: 25%; width: 50%; z-index: 5000;">
  <div *ngIf="banner.show" [@bannerState]="banner.className"
       class="text-center alert {{banner.className}}"
       [innerHtml]="banner.message">
  </div>
</div>

<div class="container-fluid">

  <nav class="navbar navbar-expand-lg mt-2 mb-2">
    <span class="navbar-brand">
      <div class="input-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Market</span>
        </div>
        <select class="form-control" name="config.baseCoin"
                [(ngModel)]="config.baseCoin" (change)="saveConfig();">
          <option *ngFor="let coin of baseCoins">{{coin}}</option>
        </select>
      </div>
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target=".app-toolbar-collapse"
            aria-controls="toolbarOne" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
        class="collapse navbar-collapse justify-content-end app-toolbar-collapse"
        id="toolbarOne">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary"
                  (click)="showAlertConfiguration=!showAlertConfiguration">
            Configure Alerts
          </button>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="nav-link">Pairs: {{pairCount}}</span>
        </li>

        <li class="nav-item">
          <span class="nav-link">
            Last update:<span [ngStyle]="{'color': bullsEyeColor}">
            {{idleTime | number:"1.0-0"}} seconds ago.</span>
          </span>
        </li>

      </ul>
    </div>

  </nav>

  <!-- Alert Configuration. -->
  <div *ngIf="showAlertConfiguration">

    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarAlertConfigContent"
              aria-controls="navbarAlertConfigContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarAlertConfigContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link"
               href="javascript:void(0)"
               (click)="toggleDesktopNotifications();">
              <input type="checkbox"
                     [(ngModel)]="config.alerts.desktopNotifications"
                     (change)="saveConfig();">
              Desktop Notifications
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="javascript:void(0)"
               (click)="config.alerts.sound = !config.alerts.sound; saveConfig();">
              <input type="checkbox" [(ngModel)]="config.alerts.sound"
                     (change)="saveConfig();">
              Sounds
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row mb-2">
      <div class="col-12 col-lg">
        <div class="card">
          <div class="card-header"
               [ngClass]="{'bg-primary': config.alerts.drop.enabled}"
          >
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox"
                     [(ngModel)]="config.alerts.drop.enabled"
                     (change)="saveConfig()">
              <label class="form-check-label">
                <b>Drop Alerts</b>
              </label>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Window</label>
                  <div class="input-group input-group-sm">
                    <select class="form-control form-control-sm"
                            name="dropAlertsWindow"
                            [(ngModel)]="config.alerts.drop.window">
                      <option>1m</option>
                      <option>5m</option>
                      <option>10m</option>
                      <option>15m</option>
                      <option>1h</option>
                    </select>
                    <div class="input-group-append">
                      <label class="input-group-text">minutes</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Drop %</label>
                  <div class="input-group input-group-sm">
                    <input type="number" class="form-control"
                           name="dropAlertsPercent"
                           (change)="saveConfig();"
                           [(ngModel)]="config.alerts.drop.percent">
                    <div class="input-group-append">
                      <button type="button"
                              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split no-radius"
                              data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a *ngFor="let p of [1, 1.5, 2, 2.5, 3, 5, 7, 10, 15]"
                           class="dropdown-item"
                           href="javascript:void(0)"
                           (click)="config.alerts.drop.percent=p; saveConfig();">{{p}}</a>
                      </div>
                      <label class="input-group-text">%</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Min. 24h Volume</label>
                  <div class="input-group input-group-sm">
                    <input type="number" class="form-control"
                           name="dropAlertsVolume"
                           [(ngModel)]="config.alerts.drop.minVolume24"
                           (change)="saveConfig()">
                    <div class="input-group-append">
                      <label
                          class="input-group-text">{{config.baseCoin}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Minimum price. -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Min. Price</label>
                  <div class="input-group input-group-sm">
                    <input
                        class="form-control"
                        name="dropAlertsVolume"
                        [(ngModel)]="config.alerts.drop.minPrice"
                        (change)="saveConfig()"
                    >
                    <div class="input-group-append">
                      <label
                          class="input-group-text">{{config.baseCoin}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-lg">
        <div class="card">
          <div class="card-header"
               [ngClass]="{'bg-primary': config.alerts.gain.enabled}"
          >
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox"
                     [(ngModel)]="config.alerts.gain.enabled"
                     (change)="saveConfig()">
              <label class="form-check-label">
                <b>Gain Alerts</b>
              </label>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Window</label>
                  <div class="input-group input-group-sm">
                    <select class="form-control form-control-sm"
                            name="dropAlertsWindow"
                            [(ngModel)]="config.alerts.gain.window"
                            (change)="saveConfig();">
                      <option>1m</option>
                      <option>5m</option>
                      <option>10m</option>
                      <option>15m</option>
                      <option>1h</option>
                    </select>
                    <div class="input-group-append">
                      <label class="input-group-text">minutes</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Gain %</label>
                  <div class="input-group input-group-sm">
                    <input type="number" class="form-control"
                           name="dropAlertsPercent"
                           (change)="saveConfig();"
                           [(ngModel)]="config.alerts.gain.percent">
                    <div class="input-group-append">
                      <button type="button"
                              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split no-radius"
                              data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a *ngFor="let p of [1, 1.5, 2, 2.5, 3, 5, 7, 10, 15]"
                           class="dropdown-item"
                           href="javascript:void(0)"
                           (click)="config.alerts.gain.percent=p; saveConfig();">{{p}}</a>
                      </div>
                      <label class="input-group-text">%</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Min. 24h Volume</label>
                  <div class="input-group input-group-sm">
                    <input type="number" class="form-control"
                           name="dropAlertsVolume"
                           [(ngModel)]="config.alerts.gain.minVolume24"
                           (change)="saveConfig()">
                    <div class="input-group-append">
                      <label
                          class="input-group-text">{{config.baseCoin}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Minimum price. -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Min. Price</label>
                  <div class="input-group input-group-sm">
                    <input
                        class="form-control"
                        name="dropAlertsVolume"
                        [(ngModel)]="config.alerts.gain.minPrice"
                        (change)="saveConfig()"
                    >
                    <div class="input-group-append">
                      <label
                          class="input-group-text">{{config.baseCoin}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-lg new-alert-config">
        <div class="card">
          <div class="card-header"
               [ngClass]="{'bg-primary': config.alerts.volume.enabled}"
          >
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox"
                     [(ngModel)]="config.alerts.volume.enabled"
                     (change)="saveConfig()">
              <label class="form-check-label">
                <b>Volume Alerts</b>
              </label>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Window</label>
                  <div class="input-group input-group-sm">
                    <select class="custom-select form-control-sm"
                            name="dropAlertsWindow"
                            (change)="saveConfig();"
                            [(ngModel)]="config.alerts.volume.window">
                      <option>1m</option>
                      <option>5m</option>
                      <option>10m</option>
                      <option>15m</option>
                      <option>1h</option>
                    </select>
                    <div class="input-group-append">
                      <label class="input-group-text">minutes</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Gain %</label>
                  <div class="input-group input-group-sm">
                    <input type="number" class="form-control"
                           name="dropAlertsPercent"
                           (change)="saveConfig();"
                           [(ngModel)]="config.alerts.volume.percent">
                    <div class="input-group-append">
                      <button type="button"
                              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split no-radius"
                              data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a *ngFor="let p of [1, 1.5, 2, 2.5, 3, 5, 7, 10, 15]"
                           class="dropdown-item"
                           href="javascript:void(0)"
                           (click)="config.alerts.volume.percent=p; saveConfig();">{{p}}</a>
                      </div>
                      <label class="input-group-text">%</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Min. 24h Volume</label>
                  <div class="input-group input-group-sm">
                    <input type="number" class="form-control"
                           name="alertsVolumeMinVolume24"
                           [(ngModel)]="config.alerts.volume.minVolume24"
                           (change)="saveConfig()">
                    <div class="input-group-append">
                      <label
                          class="input-group-text">{{config.baseCoin}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Minimum price. -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Min. Price</label>
                  <div class="input-group input-group-sm">
                    <input
                        class="form-control"
                        name="dropAlertsVolume"
                        [(ngModel)]="config.alerts.volume.minPrice"
                        (change)="saveConfig()"
                    >
                    <div class="input-group-append">
                      <label
                          class="input-group-text">{{config.baseCoin}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">

        <div class="card">
          <div class="card-header">
            <b>Blacklist</b>
          </div>
          <div class="card-body">
            <input type="text"
                   class="form-control"
                   [(ngModel)]="config.blacklist"
                   (change)="saveConfig()"
                   placeholder="Blacklist...">
          </div>
        </div>

      </div>
    </div>
    <br/>

  </div>
  <!-- -->

  <!-- Alerts. --->
  <div class="row mb-2"
       *ngIf="config.alerts.drop.enabled ||
       config.alerts.gain.enabled ||
       config.alerts.volume.enabled">

    <div class="col">

      <div class="card">
        <div class="card-header">
          <span style="font-weight: bold">Alerts</span>
          <span class="float-right">

            <small>
              <a href="javascript:void(0)"
                 (click)="clearAlerts()">
                Clear
              </a>
            </small>

            <button *ngIf="!config.alerts.desktopNotifications" class="ml-2"
                    (click)="toggleDesktopNotifications()"
                    style="border: 0; background: transparent; padding: 0px; margin: 0px;">
              <span
                  class="far fa-bell"></span>
            </button>
            <button *ngIf="config.alerts.desktopNotifications" class="ml-2"
                    (click)="toggleDesktopNotifications()"
                    style="border: 0; background: transparent; padding: 0px; margin: 0px;">
              <span
                  class="fas fa-bell"></span>
            </button>

          </span>
        </div>
        <div *ngIf="alertArray && alertArray.length > 0"
             class="table-responsive">
          <table class="table table-striped table-sm">
            <tr>
              <th>Timestamp</th>
              <th>Symbol</th>
              <th>Trigger</th>
              <th>24h Vol</th>
              <th></th>
            </tr>
            <tr *ngFor="let alert of alertArray; let i = index;"
                [ngClass]="{'table-danger': alert.type == 'drop',
                'table-success': alert.type == 'gain',
                'table-info': alert.type == 'volume'}">
              <td>{{alert.timestamp | date:"medium"}}</td>
              <td *ngIf="hasCharts"><a
                  [routerLink]="['/binance/symbol', alert.ticker.symbol]"
                  target="_blank">{{alert.ticker.symbol}}</a>
              </td>
              <td *ngIf="!hasCharts">{{alert.ticker.symbol}}</td>
              <td>{{alert.trigger}}</td>
              <td>{{alert.ticker.volume | number:".2-2"}}</td>
              <td>
                <span class="float-right">
                  <a
                     class="btn btn-outline-secondary btn-sm"
                     href="https://www.binance.com/tradeDetail.html?symbol={{alert.ticker.symbol | exchangesymbol:'binance'}}"
                     target="_blank" alt="Binance" title="Binance">B</a>

                  <a
                     href="https://www.tradingview.com/chart?symbol=BINANCE:{{alert.ticker.symbol}}"
                     class="btn btn-outline-secondary btn-sm" target="_blank"
                     alert="Trading View" title="Trading View">TV</a>

                  <a href="https://cryptopanic.com/news/{{alert.ticker.symbol | baseasset}}/"
                     class="btn btn-outline-secondary btn-sm"
                     target="_blank" alt="Crypto Panic"
                     title="Crypto Panic">CP</a>
                  <button (click)="removeAlert(i);"
                          style="background: transparent; border: 0px; padding: 0px; margin: 0px;"
                          type="button"><i class="fas fa-trash"></i>
                  </button>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>

  <!-- The monitors. -->

  <div class="row">

    <div class="col-12 col-md">

      <div class="card mb-3">
        <div class="card-header bg-success">
          <b>Top Gainers</b>
          <span class="float-right">
            <select [(ngModel)]="config.gainers.range" (change)="saveConfig();"
                    style="border: 0px; background: transparent;">
              <option>1m</option>
              <option>5m</option>
              <option>10m</option>
              <option>15m</option>
              <option>1h</option>
            </select>
            <button style="border: 0px; background: transparent;"
                    data-container="body" data-toggle="popover"
                    id="gainersTablePopover"
                    data-placement="left">
              <span href="javascript:void(0)" class="fas fa-question-circle"
                    style="cursor: pointer;">
              </span>
            </button>
          </span>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <tr>
              <ng-template ngFor let-col [ngForOf]="gainersTableConfig.columns">
                <th
                    app-th-sortable [name]="col.field"
                    [sortBy]="config.gainers.sortBy"
                    [sortOrder]="config.gainers.sortOrder"
                    (click)="sortBy('gainers', col.field)">
                  {{col.title}}
                </th>
              </ng-template>
            </tr>
            <tr *ngFor="let item of gainers">
              <td *ngIf="hasCharts"><a
                  [routerLink]="['/binance/symbol', item.symbol]"
                  target="_blank">{{item.symbol}}</a>
              </td>
              <td *ngIf="!hasCharts">{{item.symbol}}</td>
              <td>
                {{item.priceChangePercent | number:'.2'}}
              </td>
              <td>{{item.priceChangePercent24 | number:".2"}}</td>
              <td>{{item.volumeChangePercent | number:".2"}}
              </td>
              <td>{{item.volume | number:".2"}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-12 col-md">
      <div class="card mb-3">
        <div class="card-header bg-warning">
          <b>Top Losers</b>
          <span class="float-right">
            <select [(ngModel)]="config.losers.range" (change)="saveConfig();"
                    style="border: 0px; background: transparent;">
              <option>1m</option>
              <option>5m</option>
              <option>10m</option>
              <option>15m</option>
              <option>1h</option>
            </select>
            <button style="border: 0px; background: transparent;"
                    data-container="body" data-toggle="popover"
                    id="losersTablePopover"
                    data-placement="left">
              <span href="javascript:void(0)" class="fas fa-question-circle"
                    style="cursor: pointer;">
              </span>
            </button>
          </span>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <tr>
              <ng-template ngFor let-col [ngForOf]="losersTableConfig.columns">
                <th
                    app-th-sortable [name]="col.field"
                    [sortBy]="config.losers.sortBy"
                    [sortOrder]="config.losers.sortOrder"
                    (click)="sortBy('losers', col.field)">
                  {{col.title}}
                </th>
              </ng-template>
            </tr>
            <tr *ngFor="let item of losers">
              <td *ngIf="hasCharts"><a
                  [routerLink]="['/binance/symbol', item.symbol]"
                  target="_blank">{{item.symbol}}</a>
              </td>
              <td *ngIf="!hasCharts">{{item.symbol}}</td>
              <td>
                {{item.priceChangePercent | number:'.2'}}
              </td>
              <td>{{item.priceChangePercent24 | number:".2"}}</td>
              <td>{{item.volumeChangePercent | number:".2"}}
              </td>
              <td>{{item.volume | number:".2"}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl">
      <div class="card">
        <div class="card-header">
          <b>Top Volume Gainers</b>
          <span class="float-right">
            <select [(ngModel)]="config.volume.range" (change)="saveConfig();"
                    style="border: 0px; background: transparent;">
              <option>1m</option>
              <option>5m</option>
              <option>10m</option>
              <option>15m</option>
              <option>1h</option>
            </select>
            <button style="border: 0px; background: transparent;"
                    data-container="body" data-toggle="popover"
                    data-placement="left"
                    data-content="Top volume gainers within time window. Only positive volume changes are shown. None of the price filters above are applied.">
              <span href="javascript:void(0)" class="fas fa-question-circle"
                    style="cursor: pointer;">
              </span>
            </button>
          </span>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <tr>
              <ng-template ngFor let-col [ngForOf]="volumeTableConfig.columns">
                <th
                    app-th-sortable [name]="col.field"
                    [sortBy]="config.volume.sortBy"
                    [sortOrder]="config.volume.sortOrder"
                    (click)="sortBy('volume', col.field)">
                  {{col.title}}
                </th>
              </ng-template>
            </tr>
            <tr *ngFor="let item of byVolume">
              <td *ngIf="hasCharts"><a
                  [routerLink]="['/binance/chart', item.symbol]"
                  target="_blank">{{item.symbol}}</a>
              </td>
              <td *ngIf="!hasCharts">{{item.symbol}}</td>
              <td>{{item.priceChangePercent | number:".3-3"}}</td>
              <td>{{item.volumeChangePercent | number:".3-3"}}</td>
              <td>{{item.volume | number:".3-3"}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
